Repository tbrandle/portfolio-react, changes with the owners that .github/CODEOWNERS names for each.
All owners: @5290charlie, @tbrandle, @chadperson

updated auth in lib
  .env.development
  src/components/ecosystems/Login/LoginContainer.jsx
  src/lib/auth.js
  src/lib/index.js
  src/lib/jToker.js
Owners: @5290charlie, @tbrandle

Further refinements
  src/Routes/routes.js
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/index.js
  src/components/ecosystems/Logout/Logout.jsx
  src/components/environments/App/App.jsx
  src/components/organisms/Header/Header.jsx
  src/lib/api.js
  src/lib/auth.js
Owners: @tbrandle

change from yarn to npm. update config file
  .gitignore
  Makefile
  README.md
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package.json
Owners: @5290charlie, @tbrandle

Update packages for audits
  package-lock.json
  package.json
Owners: @5290charlie, @tbrandle

Updated Auth to ecosystem
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  src/Routes/routes.js
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/Login.jsx
  src/components/ecosystems/Auth/LoginContainer.jsx
  src/components/ecosystems/Auth/Logout.jsx
  src/components/ecosystems/Auth/index.js
  src/components/ecosystems/Login/index.js
  src/components/ecosystems/Logout/index.js
  src/components/ecosystems/index.js
  src/components/environments/App/App.jsx
  src/components/environments/Auth/Auth.jsx
  src/components/environments/Auth/AuthCallback.jsx
  src/components/environments/Auth/AuthContainer.jsx
  src/components/environments/Auth/AuthLogin.jsx
  src/components/environments/Auth/AuthLogout.jsx
  src/components/environments/Auth/AuthRedirect.jsx
  src/components/environments/index.js
  src/components/organisms/Header/Header.jsx
  src/lib/auth.js
Owners: @5290charlie, @tbrandle

Updated @bowtie/api version
  package.json
  yarn.lock
Owners: @tbrandle, @5290charlie

Updated the moduleNameMapper to pass tests
  package.json
Owners: @tbrandle

Updates with nsp and package-lock
  .nsprc
  Makefile
  bin/pre-push
  package-lock.json
  package.json
Owners: @5290charlie, @tbrandle

remove /components from remaining jest aliases
  package.json
Owners: @tbrandle

remove /components from jest aliases
  package.json
Owners: @tbrandle

fix auto rename of imports from vs code
  src/components/ecosystems/Demo/Demo.jsx
  src/components/ecosystems/Demo/DemoContainer.jsx
  src/components/ecosystems/Description/Description.jsx
  src/components/environments/App/App.jsx
  src/components/environments/App/AppContainer.jsx
  src/components/models/Todo/Form.jsx
  src/components/models/Todo/List.jsx
  src/components/models/Todo/ListItem.jsx
  src/components/models/Todo/Single.jsx
  src/components/molecules/Brand/Brand.jsx
  src/components/molecules/EditModelButton/EditModelButton.jsx
  src/components/molecules/Field/Checkbox/Checkbox.jsx
  src/components/molecules/Field/DatePicker/DatePicker.jsx
  src/components/molecules/Field/Document/DocumentContainer.jsx
  src/components/molecules/Field/Document/DocumentPreview.jsx
  src/components/molecules/Field/Document/DocumentUpload.jsx
  src/components/molecules/Field/Input/Input.jsx
  src/components/molecules/Field/MultiSelect/MultiSelect.jsx
  src/components/molecules/Field/Radio/Radio.jsx
  src/components/molecules/Field/Select/Select.jsx
  src/components/molecules/Field/TimePicker/TimePicker.jsx
  src/components/molecules/Search/Search.jsx
  src/components/organisms/Footer/Footer.jsx
  src/components/organisms/Form/Form.jsx
  src/components/organisms/Header/Header.jsx
  src/components/organisms/index.js
  src/lib/api.js
  src/lib/notifier.js
Owners: @tbrandle

fix auto rename of imports from vs code
  src/components/atoms/Loading/Loading.jsx
  src/components/atoms/PrivateRoute/LoginRedirect.jsx
Owners: @tbrandle

change auth container to maintain all handlers
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/Login.jsx
  src/components/ecosystems/Auth/LoginContainer.jsx
  src/components/ecosystems/Auth/Logout.jsx
Owners: @tbrandle

change vscode settings to never rename imports
  .vscode/settings.json
  package-lock.json
  src/components/ecosystems/Auth/AuthContainer.jsx
  src/components/organisms/LoginForm/LoginForm.jsx
  src/components/organisms/LoginForm/index.js
Owners: @5290charlie, @tbrandle

update api package
  package-lock.json
  package.json
Owners: @5290charlie, @tbrandle

support action prop in Routing components to fire handler on specified route
  src/components/atoms/PrivateRoute/PrivateComponentContainer.jsx
  src/components/atoms/PublicRoute/PublicRoute.jsx
  src/components/atoms/PublicRoute/index.js
Owners: @tbrandle

all auth handlers handled in AuthContainer
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/AuthContainer.jsx
Owners: @tbrandle

make form fields controlled inputs
  src/components/organisms/Form/FormContainer.jsx
Owners: @tbrandle

remove airbrake until configured
  config/resolve.js
  src/components/atoms/PublicRoute/PublicRouteContainer.jsx
  src/components/ecosystems/Auth/index.js
  src/lib/airbrake.js
  src/lib/api.js
  src/lib/notifier.js
Owners: @5290charlie, @tbrandle

linting
  src/components/atoms/PrivateRoute/PrivateComponentContainer.jsx
  src/components/atoms/PublicRoute/PublicRouteContainer.jsx
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/AuthContainer.jsx
  src/components/organisms/Header/Header.jsx
  src/components/organisms/index.js
  src/lib/api.js
Owners: @tbrandle

remove null from logout handler
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/AuthContainer.jsx
Owners: @tbrandle

Add setting browser=true to jest config in package.json
  package.json
Owners: @tbrandle

remove console.log
  src/components/organisms/Header/Header.jsx
Owners: @tbrandle

clean up and add routes for ecosystems
  package-lock.json
  src/components/ecosystems/About/About.jsx
  src/components/ecosystems/About/deer.svg
  src/components/ecosystems/About/index.js
  src/components/ecosystems/Auth/Auth.jsx
  src/components/ecosystems/Auth/AuthContainer.jsx
  src/components/ecosystems/Auth/index.js
  src/components/ecosystems/Home/Home.jsx
  src/components/ecosystems/Home/index.js
  src/components/ecosystems/Skills/Skills.jsx
  src/components/ecosystems/Skills/SkillsContainer.jsx
  src/components/ecosystems/Skills/index.js
  src/components/ecosystems/Work/Work.jsx
  src/components/ecosystems/Work/index.js
Owners: @5290charlie, @tbrandle

basic ecosystem layout
  src/Routes/routes.js
  src/components/ecosystems/About/About.jsx
  src/components/ecosystems/About/index.js
  src/components/ecosystems/Home/Home.jsx
  src/components/ecosystems/Home/index.js
  src/components/ecosystems/Skills/Skills.jsx
  src/components/ecosystems/Skills/SkillsContainer.jsx
  src/components/ecosystems/Skills/index.js
  src/components/ecosystems/Work/Work.jsx
  src/components/ecosystems/Work/index.js
  src/components/ecosystems/index.js
  src/components/environments/App/App.jsx
  src/components/environments/App/AppContainer.jsx
  src/components/models/Todo/Form.jsx
  src/components/models/Todo/List.jsx
  src/components/models/Todo/ListItem.jsx
  src/components/models/Todo/Single.jsx
  src/components/models/Todo/index.js
  src/components/models/index.js
  src/components/organisms/Header/Header.jsx
Owners: @tbrandle

active class on NavLink and :hover class
  src/components/atoms/Body/Body.jsx
  src/components/atoms/NavLink/NavLink.jsx
  src/components/ecosystems/About/About.jsx
  src/components/ecosystems/Home/Home.jsx
  src/components/ecosystems/Skills/Skills.jsx
  src/components/ecosystems/Work/Work.jsx
  src/components/environments/App/App.jsx
  src/components/environments/App/AppContainer.jsx
  src/components/organisms/Header/Header.jsx
  src/components/organisms/Header/HeaderContainer.jsx
  src/components/organisms/Header/index.js
  src/scss/ecosystems/Description.scss
  src/scss/ecosystems/ecosystems.scss
  src/scss/index.scss
  src/scss/organisms/Header.scss
Owners: @tbrandle, @chadperson

Add Pages ecosystems. style her-section
  package-lock.json
  package.json
  src/Routes/routes.js
  src/components/ecosystems/About/About.jsx
  src/components/ecosystems/Pages/Pages.jsx
  src/components/ecosystems/Pages/PagesContainer.jsx
  src/components/ecosystems/Pages/index.js
  src/components/ecosystems/Skills/index.js
  src/components/ecosystems/index.js
  src/components/environments/App/App.jsx
  src/components/organisms/About/About.jsx
  src/components/organisms/About/deer.svg
  src/components/organisms/About/index.js
  src/components/organisms/Header/Header.jsx
  src/components/organisms/Home/Home.jsx
  src/components/organisms/Home/index.js
  src/components/organisms/Skills/Skills.jsx
  src/components/organisms/Skills/SkillsContainer.jsx
  src/components/organisms/Skills/index.js
  src/components/organisms/Work/Work.jsx
  src/components/organisms/Work/index.js
  src/components/organisms/index.js
  src/scss/ecosystems/ecosystems.scss
  src/scss/index.scss
  src/scss/organisms/Header.scss
Owners: @5290charlie, @tbrandle, @chadperson

start ReactCSSTransitionGroup
  package-lock.json
  package.json
  src/Routes/routes.js
  src/components/ecosystems/Pages/Pages.jsx
  src/components/ecosystems/index.js
  src/components/organisms/About/About.jsx
  src/components/organisms/Home/Home.jsx
  src/components/organisms/index.js
  src/scss/index.scss
Owners: @5290charlie, @tbrandle, @chadperson

experimenting with react scrolling pkgs
  package-lock.json
  package.json
  src/components/atoms/NavLink/NavLink.jsx
  src/components/ecosystems/Pages/PagesContainer.jsx
  src/components/organisms/Home/Home.jsx
  src/components/organisms/Home/HomeContainer.jsx
  src/components/organisms/Home/index.js
  src/components/organisms/LoginForm/LoginForm.jsx
  src/components/organisms/LoginForm/index.js
  src/screens.png
  src/scss/ecosystems/ecosystems.scss
  src/scss/index.scss
Owners: @5290charlie, @tbrandle, @chadperson

down grade react-utils to v5
  package-lock.json
  package.json
  public/index.html
  src/components/atoms/Icon/Icon.jsx
  src/components/molecules/Field/Checkbox/Checkbox.jsx
  src/components/molecules/Field/Checkbox/index.js
  src/components/molecules/Field/DatePicker/DatePicker.jsx
  src/components/molecules/Field/DatePicker/index.js
  src/components/molecules/Field/Document/DocumentContainer.jsx
  src/components/molecules/Field/Document/DocumentPreview.jsx
  src/components/molecules/Field/Document/DocumentUpload.jsx
  src/components/molecules/Field/FieldContainer.jsx
  src/components/molecules/Field/Input/Input.jsx
  src/components/molecules/Field/Input/index.js
  src/components/molecules/Field/MultiSelect/MultiSelect.jsx
  src/components/molecules/Field/MultiSelect/index.js
  src/components/molecules/Field/Radio/Radio.jsx
  src/components/molecules/Field/Radio/index.js
  src/components/molecules/Field/Select/Select.jsx
  src/components/molecules/Field/Select/index.js
  src/components/molecules/Field/TimePicker/TimePicker.jsx
  src/components/molecules/Field/TimePicker/index.js
  src/components/molecules/Field/index.js
  src/components/molecules/PageTitle/PageTitle.jsx
  src/components/molecules/Search/Search.jsx
  src/components/molecules/Search/index.js
  src/components/molecules/index.js
  src/components/pages/Home/Home.jsx
  src/lib/airbrake.js
  src/lib/api.js
  src/lib/auth.js
  src/lib/index.js
  src/lib/notifier.js
  src/lib/storage.js
Owners: @5290charlie, @tbrandle, @chadperson

new title component, image for homescreen, navArrows
  config/resolve.js
  package.json
  src/components/atoms/Icon/Icon.jsx
  src/components/atoms/Title/Title.jsx
  src/components/molecules/NavArrows/NavArrows.jsx
  src/components/pages/Home/Home.jsx
  src/images/double-right-arrows-angles.svg
  src/images/laptop.png
  src/scss/atoms/atoms.scss
  src/scss/ecosystems/ecosystems.scss
  src/scss/index.scss
Owners: @5290charlie, @tbrandle, @chadperson

setup home screen scenes
  src/components/atoms/Title/Title.jsx
  src/components/ecosystems/PagesController/PagesController.jsx
  src/components/environments/App/App.jsx
  src/components/molecules/NavArrow/NavArrow.jsx
  src/components/molecules/NavArrow/NavArrowContainer.jsx
  src/components/molecules/NavArrow/index.js
  src/components/molecules/NavArrows/NavArrows.jsx
  src/components/molecules/NavArrows/index.js
  src/components/molecules/index.js
  src/components/organisms/Header/Header.jsx
  src/components/organisms/Navigation/Navigation.jsx
  src/components/organisms/Navigation/index.js
  src/components/organisms/index.js
  src/components/pages/About/About.jsx
  src/components/pages/Contact/Contact.jsx
  src/components/pages/Contact/ContactContainer.jsx
  src/components/pages/Contact/index.js
  src/components/pages/Home/Home.jsx
  src/components/pages/Skills/Skills.jsx
  src/components/pages/Skills/index.js
  src/components/pages/Work/Work.jsx
  src/components/pages/index.js
  src/images/bear.png
  src/images/dino.png
  src/images/storm_troopers.png
  src/images/tent.png
  src/scss/atoms/atoms.scss
  src/scss/index.scss
  src/scss/molecules/molecules.scss
  src/scss/molecules/search.scss
  src/scss/molecules/todo.scss
Owners: @tbrandle, @chadperson

responsive images, footer styling
  src/components/atoms/Title/Title.jsx
  src/components/organisms/Footer/Footer.jsx
  src/components/pages/About/About.jsx
  src/images/footer_trees.png
  src/scss/atoms/atoms.scss
  src/scss/ecosystems/ecosystems.scss
  src/scss/environments/App.scss
  src/scss/index.scss
  src/scss/organisms/Footer.scss
Owners: @tbrandle, @chadperson

add project preview component
  src/components/ecosystems/PagesController/PagesController.jsx
  src/components/molecules/ProjectPreview/ProjectPreview.jsx
  src/components/molecules/ProjectPreview/index.js
  src/components/molecules/index.js
  src/components/pages/About/About.jsx
  src/components/pages/Home/Home.jsx
  src/components/pages/Work/Work.jsx
  src/images/logos/bold-betties-logo.png
  src/images/project-previews/bold-betties.png
  src/images/spear-arrow.svg
  src/scss/atoms/atoms.scss
  src/scss/ecosystems/ecosystems.scss
  src/scss/index.scss
  src/scss/molecules/molecules.scss
  src/scss/organisms/Footer.scss
  src/scss/organisms/Form.scss
  src/scss/organisms/Header.scss
  src/scss/organisms/TodoDetail.scss
  src/scss/organisms/TodoList.scss
  src/scss/organisms/organisms.scss
Owners: @tbrandle, @chadperson

minor changes
  src/components/pages/BriteBee/BriteBee.jsx
Owners: @tbrandle

.github/CODEOWNERS:

*               @5290charlie

/package.json   @tbrandle
/__mocks__/**   @tbrandle
/src/**         @tbrandle
/src/scss/**    @chadperson
/public/**      @tbrandle @chadperson
